body {
    background-color: whitesmoke;
}

.container {
    background-color: white;
    width: 960px;
    height: 500px;
    margin: auto;
}

h1 {
    text-align: center;
    margin-top: 50px;
    padding: 30px;
}

