body {
    background-color: whitesmoke;
    font-family: sans-serif;
}

.container {
    background-color: white;
    width: 960px;
    height: 500px;
    margin: auto;
    position: relative;
}

h1 {
    text-align: center;
    margin-top: 50px;
    padding: 30px;
}

#question {
    margin: 0 auto;
    text-align: center;
    padding: 10px;

}

