/* Styling for Main Page*/

body {
    background-image: url("../images/art-museum-background.jpg");
    font-family: sans-serif;
}

.container {
    background-color: white;
    width: 960px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    opacity: 0.90;
}

h1 {
    text-align: center;
    margin-top: 50px;
    padding: 50px;

}

h2 {
    text-align: center;
}

#quiz {
    margin: 0 auto;
    text-align: center;
    padding: 50px;
    max-width: 75%;

}

#start-button {
    width: 200px;
    height: 50px;
    position: absolute;
    left: 45%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
    font-size: 20px;
    border-radius: 5px;
}

.answer-button {
    width: 150px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
}

#timer {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 40%;
    margin-top: -50px;
}

/* Media Queries */

@media only screen and (max-width: 640px){
    .container {
        width: 100%
        
    }

    #start-button {
        position: absolute;
        left: 45%;
        margin-left: -60px;
        top: 50%;
        margin-top: -50px;

    }

    #quiz {
        margin: 0 auto;
        text-align: center;
        padding: 30px;
        max-width: 75%;
    
    }
}